body {
    font-family: Montserrat;
    background-color: #e5e5f7;
    background: linear-gradient(
        rgba(255,255,255, 0) .9em, rgba(0, 0, 0, .15) 1em)
      0 0,
      linear-gradient(90deg,
        rgba(255,255,255, 0) .9em, rgba(0, 0, 0, .15) 1em)
      0 0;
      background-size: 1em 1em;
      background-color: ivory;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: $xl;
    margin: 0 auto;
    padding: 0 20px;

}

.btn {
    padding: 10px 30px;
    background-color: $purple;
    cursor: pointer;
    border: 0;
    border-radius: 15px;
    color: #fff;
    transition: background-color .3s;

    &:hover {
        background-color: rgba($purple, .8);
    }
}