.compound {
    &__wrapper {
        display: flex;
        justify-content: space-between;

        @media screen and (max-device-width: $sm) {
            flex-direction: column;
        }
    }

    &__img-wrap {
        display: flex;
        flex-direction: column;

        @media screen and (max-device-width: $sm) {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 40px;
        }
    }

    &__img {
        margin-bottom: 40px;

        @media screen and (max-device-width: $md) {
            max-width: 200px;
        }

        @media screen and (max-device-width: $sm) {
            margin: auto;
            margin-bottom: 30px;
        }
    }

    &__column {
        @media screen and (max-device-width: $sm) {
            display: flex;
            justify-content: space-between;
        }
    }
}

.compound-card {
    margin-bottom: 40px;
    &__img {
        width: 100px;
        height: 100px;
        border-radius: 50%;

        @media screen and (max-device-width: $md) {
            width: 50px;
            height: 50px;
        }

        @media screen and (max-device-width: $sm) {
            margin: auto;
            display: block;
        }
    }
    &__text {
        font-weight: 500;
    }
}

section {
    padding: 80px 0;

    @media screen and (max-device-width: $md) {
        padding: 30px 0;
    }
}