.timer {
    margin-bottom: 50px;

    &__title,
    &__time {
        font-size: 30px;
        font-weight: 500;
        text-align: center;
    }

    &__time {
        color: $red;
    }
}

.form-product {
    width: 40%;

    @media screen and (max-device-width: $lg) {
        width: 100%;
        margin-bottom: 40px;
    }

    &__img {
        display: block;
        margin: auto;
        margin-bottom: 30px;
    }
}

.product-price {
    text-align: center;

    &__new-price {
        color: $red;
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 15px;
        animation: bounce-top 2s infinite both;
    }

    &__old-price {
        font-size: 25px;
        font-weight: 500;
        text-decoration: line-through;
    }

    @keyframes bounce-top {
        0% {
            transform: translateY(-25px);
            animation-timing-function: ease-in;
            opacity: 1;
        }

        24% {
            opacity: 1;
        }

        40% {
            transform: translateY(-14px);
            animation-timing-function: ease-in;
        }

        65% {
            transform: translateY(-8px);
            animation-timing-function: ease-in;
        }

        82% {
            transform: translateY(-4px);
            animation-timing-function: ease-in;
        }

        93% {
            transform: translateY(-2px);
            animation-timing-function: ease-in;
        }

        25%,
        55%,
        75%,
        87% {
            transform: translateY(0px);
            animation-timing-function: ease-out;
        }

        100% {
            transform: translateY(0px);
            animation-timing-function: ease-out;
            opacity: 1;
        }
    }
}

.contact-us {
    &__wrap {
        display: flex;
        justify-content: space-between;

        @media screen and (max-device-width: $lg) {
            flex-direction: column;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid $purple;
    border-radius: 30px;

    @media screen and (max-device-width: $lg) {
        width: 100%;
    }

    .btn {
        margin-top: 40px;
    }

    &__title {
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
    }
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &__prompt {
        color: $red;

        @media screen and (max-device-width: $lg) {
           font-size: 12px;
        }
    }

    &__label-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    span {
        margin-bottom: 10px;
    }

    input {
        padding: 10px;
        border-radius: 5px;
        border-color: $purple;
    }
}