.header {
    height: 100vh;
    width: 100%;
    position: relative;

    @media screen and (max-device-width: $md) {
        height: 767px;
    }

    @media screen and (max-device-width: $sm) {
        height: 668px;
    }

    &__title,
    &__content,
    &__list,
    .btn {
        position: relative;
        z-index: 1;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__title {
        margin: 0;
        text-align: center;
        color: $yellow;
        margin-bottom: 70px;
        padding-top: 50px;
        font-size: 40px;

        @media screen and (max-device-width: $lg) {
            margin-bottom: 30px;
        }

        @media screen and (max-device-width: $sm) {
            padding-top: 20px;
            font-size: 25px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-around;

        @media screen and (max-device-width: $lg) {
            flex-direction: column;
        }
    }

    &__img {
        @media screen and (max-device-width: $lg) {
            max-width: 200px;
            display: block;
            margin: auto;
            margin-bottom: 20px;
        }

        @media screen and (max-device-width: $sm) {
            max-width: 150px;
        }
    }

    .btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: 20px;
    }
}

.header-list {
    color: $yellow;
    font-size: 20px;

    @media screen and (max-device-width: $sm) {
        font-size: 16px;
    }
    &__item {
        margin-bottom: 20px;

        @media screen and (max-device-width: $sm) {
            margin-bottom: 15px;
        }
    }
}

.header-video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    background: url(../media/daisy-stock-poster.jpg) no-repeat #94a233;
    background-size: cover;
    background-position: center;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, .6);
    }

    video {
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
    }

    @supports (object-fit: cover) {
        video {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @media screen and (max-device-width: $lg) {
        video {
            display: none;
        }
    }

}