.promo {
    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        @media screen and (max-device-width: $lg) {
            flex-direction: column;
        }
    }

    &__description {
        max-width: 650px;

        @media screen and (max-device-width: $lg) {
            max-width: 100%;
        }

        .btn {
            @media screen and (max-device-width: $lg) {
                display: block;
                margin: auto;
                margin-top: 30px;
            }
        }
    }

    &__img {
        max-width: 500px;

        @media screen and (max-device-width: $lg) {
            max-width: 80%;
            margin: auto;
        }
    }
}

.promo-specifications {
    li {
        margin-bottom: 10px;
    }
    span {
        font-weight: 500;
        text-decoration: underline;
    }
}