.reviews-item {
    &__img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 20px;

        @media screen and (max-device-width: $md) {
            width: 100px;
            height: 100px;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 20px;
    }

    &__desription {
        max-width: 250px;
        line-height: 1.4;
    }
}

.reviews {
    
}