<template>
<section class="compound">
    <div class="compound__wrapper container">
        <div class="compound__column">
            <div class="compound-card">
                <img src="../assets/media/bio.png" alt="bio" class="compound-card__img">
                <p class="compound-card__text">Reilly Group</p>
            </div>
            <div class="compound-card">
                <img src="../assets/media/bio.png" alt="bio" class="compound-card__img">
                <p class="compound-card__text">Reilly Group</p>
            </div>
            <div class="compound-card">
                <img src="../assets/media/bio.png" alt="bio" class="compound-card__img">
                <p class="compound-card__text">Reilly Group</p>
            </div>
        </div>

        <div class="compound__column">
            <div class="compound__img-wrap">
                <img src="../assets/media/prod.png" alt="product" class="compound__img">
                <ScrollButton />
            </div>
        </div>

        <div class="compound__column">
            <div class="compound-card">
                <img src="../assets/media/bio.png" alt="bio" class="compound-card__img">
                <p class="compound-card__text">Reilly Group</p>
            </div>
            <div class="compound-card">
                <img src="../assets/media/bio.png" alt="bio" class="compound-card__img">
                <p class="compound-card__text">Reilly Group</p>
            </div>
            <div class="compound-card">
                <img src="../assets/media/bio.png" alt="bio" class="compound-card__img">
                <p class="compound-card__text">Reilly Group</p>
            </div>
        </div>
    </div>
</section>
</template>


<script>
import ScrollButton from '@/components/ScrollButton.vue'

export default {
  components: {
    ScrollButton
  }
}
</script>