<template>


<section class="contact-us" id="#elem1">
    <div class="container">
        <div class="timer">
            <h3 class="timer__title">До конца акции осталось:</h3>
            <div class="timer__time">{{convertMinutes}}</div>
        </div>

        <div class="contact-us__wrap">
            <div class="form-product">
                <img src="../assets/media/prod.png" alt="product" class="form-product__img">

                <div class="product-price">
                    <div class="product-price__new-price">500₽</div>
                    <div class="product-price__old-price">2000₽</div>
                </div>
            </div>

            <form action="/" class="js-form form">
                <h3 class="form__title">Свяжитесь с нами</h3>
                <label class="form-item" @click="checkName()">
                    <div class="form-item__label-wrap">
                        <span class="form-item__label">Имя:</span>
                        <span class="form-item__prompt" v-show="name">Например: Иван</span>
                    </div>
                    <input type="text" required>
                </label>
                <label class="form-item" @click="checkNumber()">
                    <div class="form-item__label-wrap">
                        <span class="form-item__label">Телефон:</span>
                        <span class="form-item__prompt" v-show="phone">Например: 83452059205</span>
                    </div>

                    <input type="number" required>
                </label>

                <button class="btn">Заказать</button>
            </form>
        </div>
    </div>
</section>
</template>

<script>
export default {
    data() {
        return {
            name: false,
            phone: false,
            countDown: 1800
        }
    },
    computed: {
        convertMinutes() {
            let time = '',
                hours = Math.floor(this.countDown / 60 / 60),
                minutes = Math.floor(this.countDown / 60) - (hours * 60),
                seconds = this.countDown % 60;

            hours = hours.toString().padStart(2, '0')
            minutes = minutes.toString().padStart(2, '0')
            seconds = seconds.toString().padStart(2, '0')


            time = minutes + ' минут' + ' ' + seconds + ' секунд';

            return time
        }
    },
    methods: {
        checkName() {
            this.name = true;
        },
        checkNumber() {
            this.phone = true;
        },
        countDownTimer() {
            if (this.countDown > 0) {
                setTimeout(() => {
                    this.countDown -= 1
                    this.countDownTimer()
                }, 1000)
            }
        }
    },
    created() {
        this.countDownTimer()
    }
}
</script>
