<template>
<header class="header">
    <div class="header-video">
        <video width="100%" height="auto" muted="" autoplay="autoplay" loop="loop" preload="auto" poster="../assets/media/daisy-stock-poster.jpg">
            <source src="../assets/media/daisy-stock-h264-video.mp4" type="video/mp4">
            <source src="../assets/media/daisy-stock-webm-video.webm" type="video/webm">
        </video>
    </div>

    <div class="container header__wrapper">
        <h1 class="header__title">Level up</h1>
        <div class="header__content">
            <img src="../assets/media/prod.png" alt="product" class="header__img">

            <ul class="header__list header-list">
                <li class="header-list__item">Bernhard Inc Bernhard Inc</li>
                <li class="header-list__item">Kreiger - Howell Kreiger - Howell</li>
                <li class="header-list__item">Steuber - Stroman Steuber - Stroman</li>
                <li class="header-list__item">Heaney - MacGyver Heaney - MacGyver</li>
                <li class="header-list__item">Durgan Inc urgan Inc</li>
            </ul>
        </div>

        <ScrollButton />
    </div>



</header>
</template>

<script>
import ScrollButton from '@/components/ScrollButton.vue'

export default {
  components: {
    ScrollButton
  }
}
</script>
