<template>
    <section class="promo">
        <div class="container">
            <div class="promo__wrap">
                <img src="../assets/media/doctor.png" alt="Доктор" class="promo__img">
                <div class="promo__description">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur iste obcaecati dignissimos distinctio commodi aut omnis iure dolores amet dolore. Consequatur ullam fugiat doloremque. Atque temporibus in repudiandae tempore a.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur iste obcaecati dignissimos distinctio commodi aut omnis iure dolores amet dolore. Consequatur ullam fugiat doloremque. Atque temporibus in repudiandae tempore a.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur iste obcaecati dignissimos distinctio commodi aut omnis iure dolores amet dolore. Consequatur ullam fugiat doloremque. Atque temporibus in repudiandae tempore a.</p>
                    <ScrollButton />
                </div>

            </div>
            <ul class="promo-specifications">
                <li><span>Characteristic1:</span>  CharaLorem, ipsum dolor sit amet consectetur adipisicing elit ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet.</li>
                <li><span>Characteristic2:</span>  Lorem, ipsum dolor sit amet consectetur adipisicing elit ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet.</li>
                <li><span>Characteristic3:</span>  Lorem, ipsum dolor sit amet consectetur adipisicing elit ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet.</li>
            </ul>
        </div>
    </section>
</template>

<script>
import ScrollButton from '@/components/ScrollButton.vue'

export default {
  components: {
    ScrollButton
  }
}
</script>
