<template>
<section class="reviews">
    <div class="container">
        <Carousel :wrap-around="true">
            <Slide v-for="(slide, index) in reviews" :key="index">
                <div class="reviews-item">
                    <img :src="slide.img" :alt="slide.name" class="reviews-item__img">
                    <div class="reviews-item__title">{{ slide.name }}</div>
                    <div class="reviews-item__desription">{{ slide.text }}</div>
                </div>
            </Slide>

            <template #addons>
                <Navigation />
            </template>
        </Carousel>
    </div>
</section>
</template>

<script>
import 'vue3-carousel/dist/carousel.css';
import {
    Carousel,
    Slide,
    Pagination,
    Navigation
} from 'vue3-carousel';

export default {
    data() {
        return {
            reviews: [{
                    name: 'Георгий',
                    img: require('@/assets/media/man.jpg'),
                    text: '80550 Jacky Burg 80550 Jacky Burg 80550 Jacky Burg 80550 Jacky Burg'
                },
                {
                    name: 'Иван',
                    img: require('@/assets/media/man.jpg'),
                    text: '80550 Jacky Burg 80550 Jacky Burg 80550 Jacky Burg 80550 Jacky Burg'
                },
                {
                    name: 'Артём',
                    img: require('@/assets/media/man.jpg'),
                    text: '80550 Jacky Burg 80550 Jacky Burg 80550 Jacky Burg 80550 Jacky Burg'
                }
            ]
        }
    },
    components: {
        Carousel,
        Slide,
        Pagination,
        Navigation,
    },

}
</script>
