<template>
    <button class="btn" @click="smoothLink()">Заказать</button>
</template>

<script>
export default {
    methods: {
        smoothLink() {
            document.querySelector('.js-form').scrollIntoView({
                behavior: 'smooth',
                block: 'start'
            });
        }
    }
}
</script>