<template>

  <Header />
  <Compound />
  <Reviews />
  <Promo />
  <Form />


</template>

<script>
import Header from './components/Header.vue'
import Compound from './components/Compound.vue'
import Reviews from './components/Reviews.vue'
import Promo from './components/Promo.vue'
import Form from './components/Form.vue'

export default {
  name: 'App',
  components: {
    Header, Compound, Reviews, Promo, Form
  }
}
</script>

<style lang="scss">

</style>
